  <mat-card>
    <mat-card-title class="mat-card-header">Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" (change)="errorMessage = ''">
        <p>
          <mat-form-field class="field">
            <input type="text" matInput placeholder="Email id" formControlName="emailId">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>
        <p *ngIf="!!errorMessage" class="error">
          {{errorMessage}}
        </p>

        <div class="login">
          <span class="reset-password">
            <a [style]="'font-size: 90%'" routerLink="/auth/reset">Reset Password</a>
          </span>
          <span class="button">
            <button type="submit" color="accent" mat-button>Login</button>
          </span>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
