<div fxLayout="row wrap" class="med-display" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card class="mat-elevation-z4"  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>About Sambhav Acupressure & Sujok Points Finder</mat-card-title>
      <!--      <mat-card-subtitle>{{medData.subtitle}}</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content >
      <div>
        Welcome to Sambhav Acupressure & Sujok Points Finder
        <br>

        The fastest, easiest way to master the Acupressure & Sujok Meridians.<br>
        <br>
        With this software you get:
        <br>
        <br>
        ➡️ 361 Treatment Protocols <br>
        ➡️ Graphical point locations for all Acupressure/Sujok points <br>
        ➡️ Treatment for multiple health problem by quick search tool <br>
        ➡️ and much more...
      </div>
      <br>
      <div>
        If you are interested in joining any of our courses please <a href="https://forms.gle/gy7pN7AV9LDHHM5t7">Click here</a>
      </div>

    </mat-card-content>
  </mat-card>
</div>
