:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  background-color: white!important;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-card-header{
  background-color:#f57b41 !important;
  padding:5px !important;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
