:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  background-color: white!important;
}
mat-card{
  border: 1px solid #ccc;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-card-header{
  background-color:#f57b41 !important;
  padding:5px !important;
}

.error {
  font-size: small;
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  & button{
    border: 1px solid #ccc;
    background: #eee;
  }
}
