<form class="search-form" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <input type="text"
         class="search-text"
         placeholder="Search for a street"
         [formControl]="control"
         [matAutocomplete]="auto" >
  <mat-icon matPrefix>email</mat-icon>
  <mat-autocomplete  #auto="matAutocomplete">
    <mat-option (onSelectionChange)="optionSelected($event)" *ngFor="let street of filteredStreets | async | slice:0:10" [value]="street">
      {{street}}
    </mat-option>
  </mat-autocomplete>
</form>
