<mat-card>
  <mat-card-title class="mat-card-header">User Details</mat-card-title>
  <mat-card-content>
    <div>
      <p>
        <b>Full Name: </b> Vineet
      </p>
      <p>
        <b>Email Id: </b> vineetsingh0393@gmail.com
      </p>
      <p>
        <b>Password:</b> GSnedqVxCU
      </p>
      <p>
        <b>Order Id:</b> GSnedqVxCU
      </p>
      <div class="button">
        <button (click)="homeButton()" type="submit" color="accent" mat-button>Home</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
